<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>surname<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>address<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>category<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>phone<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>ranking<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
            <th>tags<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.surname }}</td>
            <td>{{contact.address}}</td>
            <td>{{contact.category}}</td>
            <td>{{contact.number}}</td>
            <td>{{contact.ranking}}</td>
            <td><span class="badge badge-info" style="margin: 2px;" *ngFor="let tag of contact.tags">{{tag}}</span></td>
            <td><button class="btn btn-danger" (click)="delete(contact.number)">delete</button></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>