
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 2vh;">
          <form [formGroup]="contactForm" (ngSubmit)="addContact()" novalidate>
  
            <div class="form-group forms">
  
              <input type="text" formControlName="name" id="name" placeholder="name">
            </div>
            <div class="form-group forms">
  
              <input type="text" formControlName="surname" id="surname" placeholder="surname">
            </div>
            <div class="form-group forms">
  
              <input type="text" formControlName="address" id="address" placeholder="address">
            </div>
            <div class="form-group forms">
              <input list="cat" type="search" placeholder="category" id="category" formControlName="category">
  
              <datalist id="cat">
                <option *ngFor="let cat of categories">{{cat.title}}</option>
              </datalist>
            </div>
  
            <div class="form-group forms">
              <input type="tel" formControlName="number" id="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required
                placeholder="phone number">
            </div>
            <div class="form-group forms">
              <input type="number" formControlName="ranking" id="ranking" min="1" max="10" size="2">
            </div>
            <div class="form-group forms">
              <input type="text" formControlName="tags" id="tags" placeholder="tags">
            </div>
            <div class="form-group forms">
              <button type="submit" class="btn btn-success btn-sm" style="width: 40px">+</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="row" *ngIf="contacts.length > 0">
        <div class="col-md-12">
  
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <th>surname<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <th >address<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <th>category<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <th>phone<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <th>ranking<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <th>tags<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
                <!-- <th>
                  <button class="btn btn-default btn-sm button" (click)="getContactsButton()">refresh</button>
                  <button class="btn btn-default btn-sm button" (click)="getContactsResponse()">response</button>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts" >
                <td>{{contact.name}}</td>
                <td>{{contact.surname }}</td>
  
                <td (dblclick)="onMouse($event)">
                  <div *ngIf="flag">
                    <input type="text" [(ngModel)]="contact.address">
                    <button class="btn btn-warning btn-sm button" (click)="update(contact.number, contact.address)">+</button>
                  </div>
                  <p *ngIf="!flag">{{contact.address}}</p>
                </td>
  
                <td>{{contact.category}}</td>
                <td>{{contact.number }}</td>
                <td>{{contact.ranking}}</td>
                <td (dblclick)="onMouse($event)">
                    <div *ngIf="flag">
                        <input type="text" [(ngModel)]="contact.tags">
                        <button class="btn btn-warning btn-sm button" (click)="addTags(contact.number, prepareTags(contact.tags))">+</button>
                      </div>
                  <span class="badge badge-info" style="margin: 2px;" *ngFor="let tag of contact.tags">{{tag}}</span>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm button" (click)="delete(contact.number)">-</button>
  
                </td>
  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

   



